[submodule ".emacs.d/neotree"]
	path = .emacs.d/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule ".emacs.d/el-get"]
	path = .emacs.d/el-get
	url = https://github.com/dimitri/el-get.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
